* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
    color: black;
    transition: all .5s ease-in-out;
  }

  a:hover {
    color: #ffffff;
    text-shadow: black 0 0 3px;
  }

  a:active {
    color: #ffffff;
    text-shadow: rgb(102, 101, 101) 0 0 2px;
  }

  font-family: Georgia, 'Times New Roman', Times, serif;

  summary {
    list-style: none
  }

  details summary::before { 
    // content:"✌";
    // content: 'Ψ';
    content: '☰';
    color: #004189;
  }

  details[open] summary::before { 
    // content:"☝";
    // content: 'Ψ';
    content: '✖';
    color: #E5B000;
  }

  li {
    list-style-type: none;
  }
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.344);
  background-image:url(../img/disig2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // Menu
  .container-menu {
    position: fixed;
    left: 5vh;
    top: 1vw;

    .menu {
      box-shadow: 0 0 10px black;
      border-radius: 0 30%;
      padding: 15px;
      transition: all .5s ease-in;
      background-color:rgba(255, 255, 255, 0.416);

      .menu__title { 
        cursor: pointer;
        letter-spacing: 1.5px;
        font-size: 4vh;
        font-weight: bold;
        padding-bottom: 5px;
        text-align: center;

        color: transparent;
        background-clip: text;
        background-image: linear-gradient(to bottom, #0066ff 50%, #fff200 50%);
        -webkit-text-fill-color: transparent;
        box-decoration-break: clone;
        transition: all .5s ease-in-out;
      }

      .menu__title:hover {
        background-image: linear-gradient(to bottom, #0066ff 30%, #fff200 70%);
        // box-shadow: 0 0 1px black;
        // border-radius: 0 30% 30% 0;
      }

      .menu-list { 
        display: flex;
        flex-direction: column;
        padding-left: 10px;

        .menu-list__item, a{ 
          font-size: 3vh;
          font-weight: bold;
          letter-spacing: 1px;
          padding-bottom: 5px;
        }

        .list-second {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          .list-second__item, a{ 
            font-size: 4vh;
            color: #0066ff;
            transition: all .8s ease-in-out;
          }

          .list-second__item, a:hover{ 
            font-size: 4vh;
            color: #fff200;
          }
        }

        .active {
          font-weight:bold;
          color: transparent;
          background-clip: text;
          background-image: linear-gradient(to bottom, #0066ff 50%, #fff200 50%);
          -webkit-text-fill-color: transparent;
          box-decoration-break: clone;
        }

        a.active:hover {
          background-image: linear-gradient(to bottom, #0066ff 80%, #fff200 20%);
          text-shadow: none;
        }
      }
    }
  }

  .contant {
    width: 100vw;
    height: 100vh;
    text-align: center;
    text-shadow: 0 0 5px black;
    overflow: scroll;

    .contant__title { 
      color: transparent;
      background-clip: text;
      background-image: linear-gradient(to bottom, #0066ff 50%, #fff200 50%);
      -webkit-text-fill-color: transparent;
      box-decoration-break: clone;
      font-size: 5h;
      text-shadow: 0px 0px 0px;
      margin: 50px 0 30px 0;
    }

    .contant-list {
      width: 50vw;
      margin: 0 auto;
      padding: 15px;
      background-color: rgba(39, 39, 39, 0.397);

      .contant-list__item {
        list-style: '~';
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-align: justify;
        letter-spacing: 1px;
        padding-left: 5px;
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .contant{
    transition: all .5s ease-in-out;

    .contant-list {
      width: 100vw;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 100%;
    height: 100%;

    .container-menu {
      position: absolute;
      left: 1vh;
      top: 30vw;

      .menu {
        box-shadow: 0 0 10px black;
        border-radius: 0 30%;
        padding: 10px;
        transition: all .5s ease-in;
        background-color:rgba(255, 255, 255, 0.977);

        .menu__title { 
          font-size: 3.5vh;
        }
      }
    }

    .contant {
      width: 80vw;
      height: 100vh;
      margin: 0 auto;
      text-shadow: 0 0 5px black;
  
      .contant__title { 
        font-size: 4vh;
      }
  
      .contant-list {
        width: 85%;

        .contant-list__item {
          text-align: left;
        }
      }
    }
  }
}