* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
    color: black;
    transition: all .5s ease-in-out;
  }

  a:hover {
    color: #ffffff;
    text-shadow: black 0 0 3px;
  }

  a:active {
    color: #ffffff;
    text-shadow: rgb(102, 101, 101) 0 0 2px;
  }

  font-family: Georgia, 'Times New Roman', Times, serif;

  summary {
    list-style: none
  }

  details summary::before { 
    // content:"✌";
    // content: 'Ψ';
    content: '☰';
    color: #004189;
  }

  details[open] summary::before { 
    // content:"☝";
    // content: 'Ψ';
    content: '✖';
    color: #E5B000;
  }

  li {
    list-style-type: none;
  }
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.344);
  background-image:url(../img/3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // Menu
  .container-menu {
    position: absolute;
    left: 5vh;
    top: 1vw;

    .menu {
      box-shadow: 0 0 10px black;
      border-radius: 0 30%;
      padding: 15px;
      transition: all .5s ease-in;
      background-color:rgba(255, 255, 255, 0.416);

      .menu__title { 
        cursor: pointer;
        letter-spacing: 1.5px;
        font-size: 4vh;
        font-weight: bold;
        padding-bottom: 5px;
        text-align: center;

        color: transparent;
        background-clip: text;
        background-image: linear-gradient(to bottom, #0066ff 50%, #fff200 50%);
        -webkit-text-fill-color: transparent;
        box-decoration-break: clone;
        transition: all .5s ease-in-out;
      }

      .menu__title:hover {
        background-image: linear-gradient(to bottom, #0066ff 30%, #fff200 70%);
        // box-shadow: 0 0 1px black;
        // border-radius: 0 30% 30% 0;
      }

      .menu-list { 
        display: flex;
        flex-direction: column;
        padding-left: 10px;

        .menu-list__item, a{ 
          font-size: 3vh;
          font-weight: bold;
          letter-spacing: 1px;
          padding-bottom: 5px;
        }

        .list-second {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          .list-second__item, a{ 
            font-size: 4vh;
            color: #0066ff;
            transition: all .8s ease-in-out;
          }

          .list-second__item, a:hover{ 
            font-size: 4vh;
            color: #fff200;
          }
        }

        .active {
          font-weight:bold;
          color: transparent;
          background-clip: text;
          background-image: linear-gradient(to bottom, #0066ff 50%, #fff200 50%);
          -webkit-text-fill-color: transparent;
          box-decoration-break: clone;
        }

        a.active:hover {
          background-image: linear-gradient(to bottom, #0066ff 80%, #fff200 20%);
          text-shadow: none;
        }
      }
    }
  }

  .statut { 
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    padding: 10% 5% 10% 5%;
    background-color: #ffffff6f;

    .title {
      font-size: 3vh;
      padding-bottom: 30px;

      .title__name { 
        font-weight:bold;
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(to bottom, #0066ff 50%, #fff200 50%);
        -webkit-text-fill-color: transparent;
        box-decoration-break: clone;
      }
    }


    .statut-list {
      font-size: 1,5vh;
      font-weight: bold;

      .statut-list__line { 
        list-style-type: "-";
        padding: 0 0 1vh 1vh;
        letter-spacing: 1,5px;

      .links {
        font-weight:bold;
        color: rgb(255, 255, 255);
        text-shadow: black 0 0 10px;
      }
      a.links:hover {
        color: #0066ff;
      }
    }
    }
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 100%;
    height: 100%;

    .container-menu {
      position: absolute;
      left: 1vh;
      top: 30vw;

      .menu {
        box-shadow: 0 0 10px black;
        border-radius: 0 30%;
        padding: 10px;
        transition: all .5s ease-in;
        background-color:rgba(255, 255, 255, 0.977);

        .menu__title { 
          font-size: 3.5vh;
        }
      }
    }

    .statut { 
      width: 80vw;
      overflow: scroll;
  
      .title {
        font-size: 2,5vh;
      }
  
      .statut-list {
        font-size: 1,1vh;
        font-weight: bold;
      }
    }
  }
}